{% extends 'base.html' %} {% block title %}Заявка №{{ order.pk }} — Nekta161
BarberShop{% endblock %} {% block content %}
<h2>Заявка №{{ order.pk }}</h2>

<div class="row">
  <div class="col-md-8">
    <dl class="row">
      <dt class="col-sm-3">Клиент</dt>
      <dd class="col-sm-9">{{ order.client_name }}</dd>

      <dt class="col-sm-3">Телефон</dt>
      <dd class="col-sm-9">{{ order.phone }}</dd>

      <dt class="col-sm-3">Комментарий</dt>
      <dd class="col-sm-9">{{ order.comment|default:"—" }}</dd>

      <dt class="col-sm-3">Статус</dt>
      <dd class="col-sm-9">{{ order.get_status_display }}</dd>

      <dt class="col-sm-3">Дата записи</dt>
      <dd class="col-sm-9">{{ order.appointment_date|date:"d.m.Y H:i" }}</dd>

      <dt class="col-sm-3">Мастер</dt>
      <dd class="col-sm-9">{{ order.master.name }}</dd>

      <dt class="col-sm-3">Услуги</dt>
      <dd class="col-sm-9">
      <dt class="col-sm-3">Общая стоимость</dt>
      <dd class="col-sm-9">{{ order.total_price }} руб.</dd>
        {% for service in order.services.all %}
        <span class="badge bg-primary me-1">{{ service.name }}</span>
        {% empty %} — {% endfor %}
      </dd>
    </dl>
  </div>
</div>

<a href="{% url 'orders_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}
